main{
    padding-top: 100px;
}
form .row{
    padding-top: 5px;
}
form .col-lg-3{
    text-align: right;
}
form label.error{
    display:block;
    color:#f00;
    background-color: #fff;
}
header,footer{
    text-align: center;
}
th,td{
    padding:5px;
}